* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #24262e;
}

.nav {
  background-color: #1d1e26;
  padding: 2em 2em;
  display: flex;
  align-items: center;
  color: white;
  font-family: "Inter", sans-serif;
}

.nav-logo {
  width: 6rem;
  margin: -1em;
}

.nav-logo-text {
  margin-right: auto;
  color: #61dbfb;
  font-weight: 700;
  font-size: 2rem;
}

.main-content-container {
  padding: 4em 2em;
  font-family: "Inter", sans-serif;
  color: white;
}

.main-content-header {
  font-size: 3rem;
  font-weight: 600;
}

.main-content-list {
  font-size: 1rem;
  margin: 2em 3.5em;
}

.main-content-list li {
  padding-block: 1em;
  max-width: 25em;
}

.main-content-list li::marker {
  font-size: 1.4rem;
  color: #61dbfb;
}
